Options +FollowSymlinks -Indexes -Multiviews
RewriteEngine on

<FilesMatch "\.(ttf|otf|eot|woff)$">
  <IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
  </IfModule>
</FilesMatch>

RewriteRule ^(assets|15|favicon.ico) - [L]
RewriteRule ^plugins/[a-zA-Z0-9_]+/assets/.+\.(svg|jpg|jpeg|css|js|png|ico)$ - [L]
RewriteRule ^themes/[a-zA-Z0-9_]+/assets/.+\.(svg|jpg|jpeg|css|js|png|ico)$ - [L]
RewriteRule ^action action.php [QSA,L]
RewriteRule ^ index.php [QSA,L]
