body{
    background-color: #465669;
}

.container{
    width: 75%;
	height: 80%;
	background-color: white;
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
    margin: auto;
    padding: 0px;
}

.chat_list{
    background-color: #1a1a1a;
    height: 100%;
    padding: 0px;
    position: relative;
}

.convo_area{
    background-color: #d9d9d9;
    height: 100%;
    padding: 0px;
}
.list_header{
    background-color: #121212;
    height:12%;
}

.logout_div{
    height : 12%;
    width: 100%;
    position: absolute;
    bottom: 0px;
    background-color: #121212;
    text-align: center;
    color: white;
}
.convo_header{
    background-color: #c1bebe;
    height:12%;
}
.message_area{
    height : 12%;
    width: 100%;
    position: absolute;
    bottom: 0px;
    background-color: #c1bebe;
    text-align: center;
}
.parent{
    position: relative;
    height:100%;
    padding: 0px;
}
.textbox{
    position: absolute;
    resize: none;
    height: 38px;
    width: 95%;
    font-size: 20px;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    transform: translate(-50%,-50%);
    top:50%;
}
.textbox:focus{
    outline: none;
}
.send{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 50px;
}
.send:hover{
    cursor: pointer;
}
.menu{
    transform: translateY(-50%);
    position: absolute;
    top:50%;
    font-size: 30px;
}
.menu:hover{
    cursor: pointer;
}
.actions{
    height:76%;
    text-align: center;
}
.start,.end{
    padding:10px;
    margin: 20px 0;
    width: auto;
    font-weight: bold;
    border-radius: 20px;
}
.start:focus,.end:focus{
    outline: none;
}
.chat{
    height: 76%;
    overflow-y:scroll;
}
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

.message{
    margin: 15px 15px 15px 15px;
    display:flex;
    bottom: 0;
}